<% unless @gift_cards.empty? %>
  <% @gift_cards.each do |gift_card| %>
    <div class="col-xs-12 col-md-6 text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= gift_card.merchant.name %>
        </div>
        <div class="panel-body">
          <div>
            <%= image_tag gift_card.merchant.logo_url, height: 200, width: 200 %> 
          </div>
          <div class='lead'>
            Amount: <strong>$<%= gift_card.amount %></strong>
          </div>
          <div>
            <% if gift_card.redeemed %>
              <%= link_to "See Redeem Code (TBI)", root_path, class: 'btn btn-lg btn-warning btn-block' %>
            <% else %>
              <%= link_to "Redeem (TBI)", root_path, class: 'btn btn-lg btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-dismissible alert-info"><p>You have no gift cards yet.  Claim your meals at LINK_TO_LOCATIONS(TBI).  <%= link_to "See participating stores", merchants_path %></p></div>
<% end %>

<%= link_to "Home", root_path %>